<h3>Start a new game</h3>
<br>
<p class="bg-info"> Enter your names and pick a 4 digit number (no numbers duplicated). </p>
<br>
<%= simple_form_for @game do |f| %>
	<%= f.label :player_1_name, "Player 1 Name:" %>
	<%= f.input_field :player_1_name %>
	<%= f.label :player_1_number, "Player 1 Number:" %>
	<%= f.password_field :player_1_number, :maxlength => 4 %><br><br>
	<%= f.label :player_2_name, "Player 2 Name:" %>
	<%= f.input_field :player_2_name %>
	<%= f.label :player_2_number, "Player 2 Number:" %>
	<%= f.password_field :player_2_number, :maxlength => 4 %><br><br>
	<%= f.button :submit, "Start Game" %>
<% end %>
<br>
