<h1>Start a new game</h1>
<p>
<%= form_for @game do |form| %>
	<%= form.label :player_1_name, "Player 1 Name" %><br>
	<%= form.text_field :player_1_name %><br><br>
	<%= form.label :player_2_name, "Player 2 Name" %><br>
	<%= form.text_field :player_2_name %><br><br>
	<%= form.submit 'Submit Player Names' %><br>
<% end %>
</p>