<h1>Player <%= session[:current_player] %> it's your turn!</h1>

<p>
<%= simple_form_for @turn do |f| %>
	<%= f.label :guess, "Input guess here:" %>
	<%= f.input_field :guess, { maxlength: 4 } %>
	<%= f.input :game_id, as: :hidden %>
	<%= f.submit 'Submit Guess' %><br>
<% end %>
</p>

